@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Slate300: hsl(212, 45%, 89%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--Slate300);
	font-size: .9375rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}
img {
	width: 100%;
	border-radius: 20px;
}
.container {
	background-color: white;
	width: 80%;
	padding: 1.25rem;
	border-radius: 20px;
	margin-bottom: 1.25rem;
}
.container h1 {
	margin: 1.25rem 0 1.25rem 0;
	text-align: center;
	font-size: 1.25rem;
	color: var(--Slate900);
}
.container p {
	text-align: center;
	font-size: 1.125rem;
	color: var(--Slate500);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
	.container {
		width: 18.75rem;
	}
}